# Copy this file to .env.local or .env and fill in your real values
# Do not commit the real .env file to GitHub.

NEXT_PUBLIC_APP_NAME="Movie App"
NEXT_PUBLIC_API_BASE="https://phimapi.com/v1/api"
NEXT_PUBLIC_IMAGE_BASE_URL="https://img.phimapi.com/"
NEXT_PUBLIC_USER_API_BASE="http://localhost:4000"

# Optional local development settings
PORT=3000
